/* @import 'frappe-gantt/dist/frappe-gantt.css'; */
@font-face {
    font-family: "REM";
    src: url('/fonts/rem-v4-latin-regular.woff2') format('woff2');
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #d9d9d9 inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    overflow-y:hidden
}

@media(max-width: 768px){
    body{
        overflow-y:auto
    }
}
/* header */
.header{
    position:relative;
    display: flex;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.250);
    align-items: center;
    z-index:2
}
.icon{
    padding: 0.7em;
    cursor: pointer;
    width: 100%;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.200);
    font-size: 100;
    width: 100%;
    height: 100%;
}
.menu_comp{
    color: rgb(81, 80, 80);
    transition: color 1000ms ease;
    font-family: "REM";
    font-size: 0.2em;
    text-decoration: none;
    font-weight: 700; 
}
.menu_comp:hover{
    color: black;
    transition: color 1000ms ease;
    cursor: pointer;
}

.main-content{
    min-height: 100vh;
    flex: 1;
}

/* footer */
.footer{
    display: flex;
    justify-content:  space-evenly;
    background-color: #00288E;
    height: 6em;
    width: 100%;
    bottom: 0;
    color: white;
    font-family: "REM";
    font-size: 1.1em;
    position: fixed;
}
.footer_menu{
    display: flex;
    cursor: pointer;
    align-items: center;
}
/* 
@media (min-width: 1920px) {
    .menu_comp{
        color: rgb(81, 80, 80);
        transition: color 1000ms ease;
        font-family: "REM";
        font-size: 0.23em;
        text-decoration: none;
        font-weight: 700; 
    }
    .footer{
        height: 6em;
        width: 100%;
        bottom: 0;
        color: white;
        font-family: "REM";
        font-size: 1.3em;
    }
} */

@media (max-width: 768px) {
    .menu_comp{
        color: rgb(81, 80, 80);
        transition: color 1000ms ease;
        font-family: "REM";
        font-size: 0.17em;
        text-decoration: none;
        font-weight: 700; 
    }
    .footer{
        height: 6em;
        width: 100%;
        bottom: 0;
        color: white;
        font-family: "REM";
        font-size: 0.9em;
    }
}
@media (max-width: 480px) {
    .menu_comp{
        color: rgb(81, 80, 80);
        transition: color 1000ms ease;
        font-family: "REM";
        font-size: 0.15em;
        text-decoration: none;
        font-weight: 700;
    }
    .footer{
        font-size: 0.7em;
    }
    .icon{
        padding:0em;
        cursor: pointer;
        width: 70%;
        margin-right:0
    }
}

.createBlockTitle{
    font-weight: 500;
    font-size: 1.4em;
    margin: 1em;
    margin-bottom: 0.2em;
    color: #0e1d49
}