.emailEdit:focus{
    border: none;
    outline: none
}
.block{
    margin: 2em 0 2em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 7em;
    border-radius: 1em;
    border: 2px solid #f2f2f3;
    width: 90%
}

.data{
    font-family: 'REM';
    display: flex;
    align-items: center;
}