.formContainer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
}
.confirm{
    justify-content: center;
    align-items: center;
    padding-top: 1.1em;
    font-family: REM;
    font-size: 3em;
    font-weight: 700;
    display: flex;
}

.form_input{
    background-color: #d9d9d9;
    border: none;
    border-radius: 1.8em;
    width: 27em;
    height: 6vh;
    margin-top: 1.1em;
    padding: .8em;
    /* font-weight: 300; */
    font-family: REM;
}
.form_input:focus {
    outline: 2px solid #00288E;
    font-family: "REM";
}
.button{
    color: #fff;
    cursor: pointer;
    background-color: #00288e;
    border: none;
    border-radius: 10em;
    place-items: center;
    margin-top: 1.4em;
    font-family: REM;
    font-size: 1em;
    font-weight: 700;
    display: grid;
    width: 21em;
    height: 6vh;
}